<nav class="navbar bg" style="background-color: #081E2B;">

  <div style="display: block;">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation" style="border: none;  ">
      <a class="navbar-" href="javascript:"><img src="../../../assets/folder.png" alt="" style="margin-top: -10px;"></a> 
    </button>&nbsp;&nbsp;
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation" style="border: none;  ">
      <a class="navbar-" href="javascript:"><img src="../../../assets/list.png" alt="" style="margin-top: -10px;"></a>
    </button>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation" style="border: none; ">
      <a class="navbar" href="javascript:"><img src="../../../assets/doc.png" alt="" style="padding-top: 10px;"></a>
    </button>
  </div>

  <a class="navbar-brand" href="javascript:"><img src="../../../assets/logo-.png" alt=""  style="max-width: 150px;"></a>

</nav>