<div class="container">
  <div class="row mt-5">
    <div class="col-md-1">

    </div>
    <div class="col-md-10">
      <table>
        <tr>
          <th>
            Name
          </th>
          <th>
            Type
          </th>
          <th>Lenght</th>
          <th>
            Associated entity
          </th>
          <th colspan="2">
            Action
          </th>
        </tr>
        <tr>
          <td>
            <input placeholder="Name" [(ngModel)]="fieldtoinsert.name" >
          </td>
          <td>
            <select [(ngModel)]="fieldtoinsert.type">
              <option [selected]="fieldtoinsert.type===VARCHAR" value="VARCHAR">String</option>
              <option [selected]="fieldtoinsert.type===LONG" value="LONG">Int</option>
              <option [selected]="fieldtoinsert.type===DOUBLE" value="DOUBLE">Double</option>
              <option [selected]="fieldtoinsert.type===DATE" value="DATE">Date</option>
            </select>            
          </td>
          <td>
            <input type="range" [(ngModel)]="fieldtoinsert.lenght" min="1" max="255" step="1" value="50">
          </td>
          <td>            
            <select [(ngModel)]="fieldtoinsert.entityowner" >
              <option *ngFor="let entity of entities" [ngValue]="entity">{{entity.name}}</option>
            </select>
          </td>
          <td>
            <button (click)="insert(fieldtoinsert)">Insert</button>
          </td>
          <td>
            <button (click)="clear()">Clear</button>
          </td>
        </tr>
        <!--STAMPO ELEMENTI-->
        <tr *ngFor="let field of fields; let i = index">
          <td>
            <input [(ngModel)]="field.name">
          </td>
          <td>
            <select [(ngModel)]="field.type" id="select1"  >
              <option [selected]="field.type===VARCHAR" value="VARCHAR">String</option>
              <option [selected]="field.type===LONG" value="LONG">Int</option>
              <option [selected]="field.type===DOUBLE" value="DOUBLE">Double</option>
              <option [selected]="field.type===DATE" value="DATE">Date</option>
            </select>
          </td>
            <td>
              <input type="range" [(ngModel)]="field.lenght" min="1" max="255" step="1" >
            </td>
          <td>
            <input value="{{field.entityowner.name}}" type="text" readonly style="cursor: not-allowed;">
          </td>
          <td >
            <button (click)="update(field)" >Update</button>
        </td>
          <td >
              <button (click)="delete(field)" >Delete</button>
          </td>
        </tr>
      </table>
    </div>

  </div>
</div>