.container-fluid{
  
	height: 100vh;
	width: 100vh;
  }

  .img {
	width: 84vw;
	height:  92vh;
	background-repeat:no-repeat;
	opacity: 0.8;
	background-color: #102331;
   }
  .btn-info {
	background-color: #102331;
	border-color: #102331;
  }

  .col {
	font-size: 15vh;
	color:#102F41;
	background-color: #102331;
	border-color: #102331;
  }

  .fa-folder {
	font-size: 1200%;
	color:#102F41;
	background-color: #102331;
	border-color: #102331;
  }

  .name {
	position: absolute;
	top: 5vh;
	width: min-content;
	padding-left: 1vmax;
  }
  .description {
	position: absolute;
	padding-top: 8vh;
	top: 4.5vh;
	left: 4vw;
	width: 45%;
  }
  .shippingdate {
	position: absolute;
	padding-top: 16vh;
	top: 4vh;
	left: 4vw;
	width: 45%;
  }