<div class="container-fluid img">
  <div class="row">
    <div *ngFor="let project of projects; let i=index" class="col-3">
      <a href="/admin-dashboard/entities">
      <button type="button" class="btn btn-info"><i class="fa fa-folder fa-10x"></i>
      <div class="name"><p style="text-transform: capitalize;">{{project.name}}</p></div><div class="description"><p>{{project.description}}</p></div><div class="shippingdate"><p>{{project.shippingdate}}</p></div></button>
      </a>
    </div>
  </div>
</div>